body {
    background-color: rgb(53, 51, 47);
  }

img {
    display: block;
    margin: 0 auto;
    border-radius: 12px;
}

h1 {
    font-size: 46px;
    text-align: center;
    font-family: Roboto, Helvetica, bold;
    color: white;
}

div {
    margin: 10 auto; 
    text-align: center;
}

select, input {
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
    margin-bottom: 15px;
    margin: 10px;
}

.btn {
    padding: 30px;
    margin: 10px;
    border-radius: 24px;
    padding: 10px 30px;
}