body {
    background-color: rgb(31, 30, 28);
}

img {
    display: block;
    margin: auto;
    border-radius: 12px;
}

h1 {
    font-size: 46px;
    text-align: center;
    font-family: Roboto, Helvetica, bold;
    color: #f1f1f1;
}

div {
    margin: auto; 
    text-align: center;

    position: relative;
}

select, input {
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
    margin: 12px;
}

.btn {
    padding: 30px;
    margin: 10px;
    border-radius: 24px;
    padding: 10px 30px;
    background-color: #f1f1f1;
}