<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'style.css') }}" />

    <title>Generate Casper QR-code</title>
</head>

<body>
    <h1>Generate QR code</h1>
    <img id="picture" src="data:image/jpeg;base64,{{ img_data }} " >
    <div>
        <form action="{{ url_for('home')}}" method="post">
            <input type="text" name="url" placeholder="address" required="required" />
            <input type="number" name="amount" placeholder="amount" />
            <input type="text" name="message"  placeholder="message" />
            <input type="number" name="r" placeholder="transactionID" />
            <label for="dropdown">Choose Network:</label>
            
            <select name="networks">
                <option value="casper">casper</option>
                <option value="https://cspr.live/transfer">cspr.live</option>
                <option value="https://testnet.cspr.live/transfer">testnet.cspr.live</option>
            </select>
            <br>
            <button type="submit" class="btn">Display QR-code</button>
            
        </form>
        {%if mth=='POST' %}
        <form action="{{ url_for('send')}}" method="get">
            <button type="submit" class="btn">Download QR-code</button>
        </form>
        {% endif %}
    </div>
</body>

</html>
